<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>travis-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67A6159C1C98FD0A00C7A1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A615B31C98FD0A00C7A1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A615BE1C98FD0A00C7A1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
